.ouro {
  background-color: #f9db001f;
  font-weight: 600;
}
.prata {
  // background-color: #b7b7b71f;
  font-weight: 600;
}
.bronze {
  // background-color: #9c6d3b1f;
  font-weight: 600;
}

.bonus {
  color: goldenrod;
}
