<div class="element is-loading" *ngIf="loading"></div>

<div *ngIf="!loading">
  <table class="table is-fullwidth" aria-describedby="Ranking de usuários do bolão">
    <thead>
      <tr>
        <th scope="col"> # </th>
        <th scope="col"> Nome </th>
        <th scope="col"> Pontuação </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!ranking?.length">
        <td colspan="3"> Nada encontrado! 😥 </td>
      </tr>
      <tr *ngFor="let rank of ranking; let i = index" [ngClass]="{'ouro': i == 0, 'prata': i == 1, 'bronze': i == 2}">
        <td>
          {{ i+1 }}º
        </td>
        <td> {{ rank.usuario.nome }} </td>
        <td>
          {{ rank.pontuacao | number}} pts
          <span *ngIf="rank.pontosBonus" class="bonus amarelo"> ({{(rank.pontuacao - rank.pontosBonus) | number}} + {{ rank.pontosBonus | number }})</span>

        </td>
      </tr>
    </tbody>
  </table>
</div>
