<header class="hero header">
  <div class="columns is-mobile">
    <div class="column is-2" *ngIf="backUrl">
      <button type="button" (click)="voltar()" class="button is-small">
        <div class="icon">
          <em class="fas fa-angle-left fa-1x"></em>
        </div>
      </button>
    </div>
    <div class="column has-text-weight-bold is-flex is-align-items-center">
      <span *ngIf="!titulo"> Bem-vindo {{ nomeUsuario }}! </span>
      <span *ngIf="titulo"> {{ titulo }} </span>
    </div>
  </div>
</header>

<main class="container">
  <router-outlet></router-outlet>
</main>
