<div class="element is-loading" *ngIf="loding"></div>

<ng-container *ngIf="!loding">
  <div class="block" *ngIf="isAdm">
    <small> Envie este link para convidar novos participantes: </small>
    <input class="input is-small is-link" [value]="linkbolao" readonly/>
  </div>

  <div class="block">
    <small> Você possui: </small>
    <p class="total-pontos">
      {{ (bolao ? bolao.participantes[0].totalPontos : 0) | number }}
      <span *ngIf="bolao ? bolao.participantes[0]?.pontosBonus : false" class="bonus"> (+{{(bolao ? bolao.participantes[0]?.pontosBonus : 0) | number}})</span>
      pontos
    </p>
  </div>

  <div class="columns is-mobile is-flex-wrap-wrap" *ngIf="!loding">
    <ng-container *ngFor="let menu of menus">
      <div class="column is-half-mobile" *ngIf="!menu.onlyAdm || (menu.onlyAdm && isAdm)">
        <a class="box has-text-centered" [class.is-disabled]="!menu.link && !menu.logout" [routerLink]="[menu.link]" (click)="menu.logout && sair()">
          <span class="icon is-large has-text-success-dark">
            <em class="fas {{ menu.icone }} fa-2x"></em>
          </span>
          <p> <strong> {{ menu.texto }} </strong> </p>
        </a>
      </div>
    </ng-container>
  </div>
</ng-container>

