@import '~bulma/sass/utilities/initial-variables';

small.is-success {
  color: $green;
}
small.is-warning {
  color: $orange;
}

.partida-wrapper {
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid #dcdcdc;
  padding: 0.75rem 1.25rem;
}

.box.disabled {
  opacity: 0.9;
}

.block.versus {
  margin-bottom: .75rem
}

.column {
  padding: 5px;
}

.nome-time {
  font-size: 12px;
  word-break: break-all;
  text-align: center;
  width: 100%;
}
.image img {
  width: auto;
  max-height: 100%;
  margin: auto;
}

@media(min-width: 769px) {
  .block.versus {
    margin: 0.55rem .75rem
  }
}
