<div class="content">
  <p>
    Com o palpite bônus você possui mais chances de ganhar!
  </p>
  <p>
    Indique quem será o Campeão e o Vice-campeão do campeonato, caso acerte
    você possui a chance de ganhar até 80 pontos no final do bolão!
  </p>
  <p>
    <strong>
      Campeão: +50 pts <br/>
      Vice-campeão: +30 pts
    </strong>
  </p>
</div>

<div class="element is-loading" *ngIf="loading"></div>

<div class="box" *ngIf="!loading && !times?.length">
  Erro ao buscar os times!
</div>

<form #f="ngForm" (submit)="onSubmit(f)" *ngIf="!loading && times?.length">
  <div class="field">
    <label class="label"> Campeão </label>
    <div class="control">
      <select [(ngModel)]="model.idCampeao" name="idCampeao" class="input" type="text" [disabled]="!disponivel" required>
        <option [value]="null" disabled> Selecione </option>
        <option [value]="time.id" *ngFor="let time of times"> {{ time.nome }} </option>
      </select>
    </div>
    <app-error-display name="idCampeao"></app-error-display>
  </div>
  <div class="field">
    <label class="label"> Vice-campeão </label>
    <div class="control">
      <select [(ngModel)]="model.idViceCampeao" name="idViceCampeao" class="input" type="text" [disabled]="!disponivel" required>
        <option [value]="null" disabled> Selecione </option>
        <option [value]="time.id" *ngFor="let time of times"> {{ time.nome }} </option>
      </select>
    </div>
    <app-error-display name="idViceCampeao"></app-error-display>
  </div>
  <div class="field" *ngIf="disponivel">
    <div class="control">
      <button type="submit" [isLoading]="loadingSalvar" class="button is-primary"> Salvar </button>
    </div>
  </div>
</form>

<div *ngIf="palpites?.length" class="mt-6">
  <table class="table is-fullwidth" aria-describedby="Ranking de usuários do bolão">
    <thead>
      <tr>
        <th scope="col"> Nome </th>
        <th scope="col"> Campeão </th>
        <th scope="col"> Vice-campeão </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let palpite of palpites; let i = index" [ngClass]="{'ouro': i == 0, 'prata': i == 1, 'bronze': i == 2}">
        <td> {{ palpite?.usuario?.nome}} </td>
        <td>
          <figure class="image is-32x32" *ngIf="palpite?.palpiteCampeao?.logomarca">
            <img [src]="palpite?.palpiteCampeao?.logomarca" [title]="palpite?.palpiteCampeao?.nome" [alt]="palpite?.palpiteCampeao?.nome"/>
          </figure>
          <span *ngIf="!palpite?.palpiteCampeao?.logomarca"> - </span>
        </td>
        <td>
          <figure class="image is-32x32" *ngIf="palpite?.palpiteViceCampeao?.logomarca">
            <img [src]="palpite?.palpiteViceCampeao?.logomarca" [title]="palpite?.palpiteViceCampeao?.nome" [alt]="palpite?.palpiteViceCampeao?.nome"/>
          </figure>
          <span *ngIf="!palpite?.palpiteViceCampeao?.logomarca"> - </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
